/* Foreground Colors */
.ansi30 { color: black; }       /* Black */
.ansi31 { color: red ; }         /* Red */
.ansi32 { color: green; }       /* Green */
.ansi33 { color: yellow; }      /* Yellow */
.ansi34 { color: blue; }        /* Blue */
.ansi35 { color: magenta; }     /* Magenta */
.ansi36 { color: cyan; }        /* Cyan */
.ansi37 { color: white; }       /* White */
.ansi90 { color: grey; }        /* Bright Black (grey) */
.ansi91 { color: #FFCCCB; }    /* Bright Red */
.ansi92 { color: lightgreen; }  /* Bright Green */
.ansi93 { color: lightyellow; } /* Bright Yellow */
.ansi94 { color: lightblue; }   /* Bright Blue */
.ansi95 { color: #ff80ff;} /* Bright Magenta */
.ansi96 { color: lightcyan; }   /* Bright Cyan */
.ansi97 { color: #FFFFF7; }  /* Bright White */

/* Background Colors */
.ansi40 { background-color: black; }       /* Black */
.ansi41 { background-color: red; }         /* Red */
.ansi42 { background-color: green; }       /* Green */
.ansi43 { background-color: yellow; }      /* Yellow */
.ansi44 { background-color: blue; }        /* Blue */
.ansi45 { background-color: magenta; }     /* Magenta */
.ansi46 { background-color: cyan; }        /* Cyan */
.ansi47 { background-color: white; }       /* White */
.ansi100 { background-color: grey; }       /* Bright Black (grey) */
.ansi101 { background-color: #FFCCCB; }   /* Bright Red */
.ansi102 { background-color: lightgreen; } /* Bright Green */
.ansi103 { background-color: lightyellow;} /* Bright Yellow */
.ansi104 { background-color: lightblue; }  /* Bright Blue */
.ansi105 { background-color: #ff80ff;}/* Bright Magenta */
.ansi106 { background-color: lightcyan; }  /* Bright Cyan */
.ansi107 { background-color: #FFFFF7; } /* Bright White */

/* Styles */
.ansi1 { font-weight: bold; }      /* Bold */
.ansi3 { font-style: italic; }     /* Italic */
.ansi4 { text-decoration: underline; } /* Underline */
.ansi9 { text-decoration: line-through; } /* Strikethrough */
.ansi24 { text-decoration: none; } /* No underline */
.ansi39 { color: initial; } /* Default foreground color */
.ansi49 { background-color: initial; } /* Default background color */
