/* Target only inline code */
p code, li code, td code {
  word-break: keep-all;
  white-space: nowrap;
}

/* Preserve formatting for multi-line code blocks */
pre code {
  word-break: normal;
  white-space: pre;
}

:root {
  --md-tooltip-width: 600px;
}